<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.name|title }}</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>{{ object.description|truncatechars:100 }}</li>
            </ul>
            <a href="{% url 'catalog:products' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Продукты</a>
        </div>
    </div>
</div>