{% extends 'mailings/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <form method="post" class="card">
            {% csrf_token %}
            <h3>Вы действительно хотите удалить клиента "{{ object.fullname|upper }} ({{ object.email }})"?</h3>
            <div class="row mt-1 mb-2">
                <div class="col-1 ">
                    <button class="btn btn-outline-dark" type="submit">УДАЛИТЬ</button>
                </div>
                <div class="col-1">
                    <a class="btn btn-outline-dark" href="{% url 'mailings:client_list' %}">НАЗАД</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}