{% extends 'catalog/index.html' %}

{% block content %}
    <form method="post" class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Удаление товара
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    <p>Действительно желаете избавиться от товара {{ object.name }}?</p>
                    <button type="submit" class="btn btn-outline-danger">
                        Удалить
                    </button>
                    <a class="btn btn-outline-warning" href="{% url 'catalog:products' object.category.pk %}">Отмена</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}