{% extends 'mailings/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="card">
            <div class="card-title text-start">
                <h3 class="p-2 mt-1 ms-2">Ошибка подтверждения e-mail адреса!</h3>
            </div>
            <div class="card-body">
                <p class="fs-5">Во время подтверждения e-mail адреса произошла ошибка!</p>
                <p class="text-muted">Ссылка устарела или в данный момент происходят неполадки на
                    сервере! Пожалуйста, попробуйте позднее!</p>
                <a href="{% url 'mailings:index' %}" class="btn btn-dark">На главную</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

