{% extends 'mailings/base.html' %}

{% block content %}
<div class="container text-center mt-5 mb-5">
    <h1 class="mt-5">ПОЛЬЗОВАТЕЛИ</h1>
    <div class="row mt-4">
        {% for object in object_list %}
            {% if object.is_active %}
                <div class="col-3">
                    <a href="{% url 'users:user_detail' object.pk %}" class="text-white">
                        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                            <div class="card-header mt-2">{{ object.email }}</div>
                            <hr>
                            <a href="{% url 'users:user_change_active' object.id%}" type="button"
                               class="btn btn-dark mb-2">Заблокировать</a>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
        <hr>
        {% for object in object_list %}
            {% if not object.is_active %}
                <div class="col-3">
                    <a href="{% url 'users:user_detail' object.pk %}" class="link-light">
                        <div class="card text-white bg-white mb-3" style="max-width: 18rem;">
                            <div class="card-header mt-2 text-dark">{{ object.email }}</div>
                            <hr>
                            <a href="{% url 'users:user_change_active' object.id%}" type="button"
                               class="btn btn-light mb-2">Разблокировать</a>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}