{% extends 'catalog/home.html' %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Запись "{{ object.blog_title }}" ({{ object.blog_slug }})
                    </h3>
                </div>
                <div class="card-body">
                    {{ object.blog_text }}
                </div>
                <div class="card-footer">
                    Просмотры: {{ object.blog_count }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}